
#nav-toggle:checked + .sidebar{
    width: 80px;
}
#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar .sidebar li{
    padding-left: 1rem;
    text-align: center;
}
#nav-toggle:checked + .sidebar .sidebar li a {
    padding-left: 0rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
    display: none;
} 
#nav-toggle:checked ~ .main-content  {
    margin-left: 80px;
}
#nav-toggle:checked ~ .main-content header{
    width:calc(100% - 70px);
    left: 70px;
}


#nav-loggle{
  display: none;  

}

@media only screen and (max-width: 1200px) {
    .sidebar{
        width: 80px;
    }
    .sidebar .sidebar-brand,
    .sidebar li{
        padding-left: 1rem;
        text-align: center;
    }
     .sidebar .sidebar li a {
        padding-left: 0rem;
    }
    
     .sidebar .sidebar-brand h2 span:last-child,
     .sidebar li a span:last-child {
        display: none;
    } 
    .main-content  {
        margin-left: 80px;
    }
    .main-content header{
        width:calc(100% - 70px);
        left: 70px;
    }
}


