body.active-modal {
    overflow-y: hidden ;
    
}
.center-title1{
    text-align: center;
}

.btn-modal1 {
    padding: 10px 20px ;
    display: block ;
    margin: 100px auto 0 ;
    font-size: 18px ;
    
}

.modal1, .overlay1 {
    
    width: 100vw ;
    height: 100vh ;
    top: 0 ;
    left: 0 ;
    right: 0 ;
    bottom: 0 ;
    position: fixed ;
}

.overlay {
    background: rgba(49,49,49,0.8) ;
}
.modal-content1 {
    
    position: absolute ;
    color:black;
    font-weight: 600;
    top: 40% ; 
    left: 50% ;
    margin-top: 50px;
    transform: translate(-50%, -50%) ;
    line-height: 1.4 ;
    background: #ffffff ;
    padding: 14px 28px ;
    border-radius: 15px ;
    width: 600px ;
    height: 480px ;
}

.close-modal{
    position: relative ;
    background: linear-gradient(135deg, #f05462, #9b59b6);
    color:white;
    top: -35px ;
    right: 2px ;
    width: 60%;
    /* margin:18px 18px; */
    padding: 10px 5px ;
    border:1px solid #f05462;
    border-radius: 15px;
}
.close-modal:hover{
    background: linear-gradient(-135deg, #f05462, #d38fed);
    color:white
    

}
.valid-modal {
    position:absolute;
    background-color: #4CD45C;
    border:1px solid #4CD45C;
    border-radius: 15px;
    color:white;
    top:10px;
    right:10px;
    padding: 5px 7px;
}
.valid-modal:hover{
    background-color: white;
    color:#4CD45C;
}
.reject-modal{
 position: absolute;
 background-color: #f05462;
 border:1px solid #f05462;
 border-radius: 15px;
 color:white;
 top:10px;
 left:10px;
 padding:5px 7px;
}
.reject-modal:hover{
    background-color: white;
    color:#f05462;
}

.download-file{
    margin-left:80%;
    color:black;
    border:1px solid rgb(100, 173, 236);
    border-radius: 5px;
}
.download-file:hover{
    background: rgb(100,173,236);
    color:white

}
