.fond{
    width: 100%;
    height: 150vh;
    background-image: linear-gradient(rgba(177, 177, 197, 0.8),rgba(73, 73, 180, 0.8)),url(./images.jpg);
    position: relative;

}.newsession {
    width: 90%;
    max-width: 600px;
    position: absolute;
    top: 38%;
    left: 38%;
    transform: translate(-50%, -50%);
    background:rgba(3, 3, 3, 0.145) ;
    padding: 60px 80px 90px ;


    margin-top: 8rem;
    margin-left:22rem;
    color: #51228b;
}
.newsession .h4 {
    font-size: 25px;
    color:black;
    margin-bottom: 90px;
    position: relative;
    text-align: center;

}
.input{
   
background:#ffff;
margin: 15px 0;
width:100%;
border:0 ;
margin-left: 20px;
outline: 0;
padding: 15px 15px ;
border-radius: 30px;
display: flex;
align-items: center;

}
.h55 {
  
margin-left: -60px;
position:absolute;
color:black;
font-size: 19px;

}
.adds{

    background:red;
    margin-left: 150px;
    margin-top: 8px;
    height: 40px;
    width: 150px;
    border-radius:20px ;
    color:#ffff;
    border: 0;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    font-size: .8rem;
    padding: .10rem 2rem;
    cursor: pointer;

}
.color{
    color: black;
    font-size:20px;
   

}