body.active-modal {
    overflow-y: hidden ;
    
}
.center-title1{
    text-align: center;
}

.btn-modal1 {
    padding: 10px 20px ;
    display: block ;
    margin: 100px auto 0 ;
    font-size: 18px ;
    
}

.modal1, .overlay1 {
    
    width: 100vw ;
    height: 100vh ;
    top: 0 ;
    left: 0 ;
    right: 0 ;
    bottom: 0 ;
    position: fixed ;
}

.overlay {
    background: rgba(49,49,49,0.8) ;
}
.modal-content2 {
    
    position: absolute ;
    color:black;
    font-weight: 600;
    top: 40% ; 
    left: 50% ;
    margin-top: 50px;
    transform: translate(-50%, -50%) ;
    line-height: 1.4 ;
    background: #ffffff ;
    padding: 14px 28px ;
    border-radius: 15px ;
    width: 600px ;
    height: 480px ;
}
.button-edit{
    margin-top: 210px !important;
}
form .button-edit{
    
    height: 45px;
    margin: 35px 0
  }
  form .button-edit input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #f05462, #9b59b6);
  }
  form .button-edit input:hover{
   /* transform: scale(0.99); */
   background: linear-gradient(-135deg, #f05462, #d38fed);
   }